* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif !important;
}

body {
    height: 100%;
    background: #0000ff;
}

.LogoImage {
    width: 150px;
}

.modal-header {
    border-bottom: 0px solid !important;
    display: block !important;
}

.logo-top {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.lead-img-animate {
    animation: fadeSlideIn 1.0s ease-out forwards;
}

/* html.dark body {
    background-color: #121212;
    color: white;
} */

/* html.light body {
    background-color: white;
    color: black;
} */

html.dark h6 {
    /* color: #FFF4A3 !important; */
    /* color: #a9dfd8 !important */
    color: white !important;
}

html.dark .subHeading {
    color: rgb(197, 180, 24) !important;
}

html.dark .addUserBtn {
    border: 1px solid #2387b9;
    color: #2387b9;
    background-color: rgba(128, 128, 128, 0.164);
    font-weight: 500;
}

html.dark .importLead {
    border: 1px solid #2387b9;
    color: #2387b9;
    background-color: rgba(128, 128, 128, 0.164);
    font-weight: 500;
}

html.dark .showFilters {
    border: 1px solid #2387b9;
    color: #2387b9;
    background-color: rgba(128, 128, 128, 0.164);
    font-weight: 500;
}

html.dark .refresh {
    border: 1px solid #e01818;
    color: #e01818;
    background-color: rgba(128, 128, 128, 0.164);
    font-weight: 500;
}

html.dark .dailyReport {
    border: 1px solid #28aff3a1;
    color: #28aff3a1 !important;
    background-color: rgba(128, 128, 128, 0.164);
    font-weight: 500;
}

html.dark .interviewReport {
    border: 1px solid #c5cacce1;
    color: #c5caccd2 !important;
    background-color: rgba(128, 128, 128, 0.164);
    font-weight: 500;
}

html.dark .history {
    border: 1px solid rgb(201, 201, 21);
    color: rgb(211, 211, 21) !important;
    background-color: rgba(128, 128, 128, 0.164);
    font-weight: 450;
}

html.dark .viewLead {
    border: 1px solid rgba(58, 226, 17, 0.904);
    color: rgba(58, 226, 17, 0.904) !important;
    background-color: rgba(128, 128, 128, 0.164);
    font-weight: 450;
}

html.dark .exportLead {
    border: 1px solid rgb(138, 138, 12);
    color: rgb(182, 182, 19) !important;
    background-color: rgba(128, 128, 128, 0.164);
    font-weight: 450;
}

html.dark .interviewBorder {
    border: 1px solid gray;
}

html.dark .searchInput {
    border: 1px solid gray !important;
}

html.dark .sortSelect {
    border: 1px solid gray !important;
}

html.dark .interviewFields {
    color: rgb(221, 221, 221) !important;
}

html.dark select {
    background-color: #1b1b1b !important;
}

html.dark .textareaBG {
    background-color: #1b1b1b !important;
}

html.dark .saveReport {
    border: 1px solid #28AEF3;
    color: #28AEF3 !important;
    background-color: rgba(128, 128, 128, 0.164);
    font-weight: 500;
}

html.dark .cancelReport {
    border: 1px solid #909597;
    color: #a9abac !important;
    background-color: rgba(128, 128, 128, 0.164);
    font-weight: 500;
}

html.dark .leadReportLabel {
    color: white;
    font-weight: 500;
}

html.dark .leadReport {
    border: 1px solid gray;
    color: white;
}

html.dark .leadReport::placeholder {
    color: #c9d1d9 !important;
}

html.dark .rounded-4 {
    background-color: #21222d !important;
    color: #c9d1d9 !important;
    border-color: #30363d !important;
}

html.dark .table-container {
    background-color: #080808 !important;
    border-radius: 12px;
}

html.dark .adminDashboardBG {
    background-color: #1D2A35 !important;
}

html.dark .table-container table {
    background-color: #0d1117 !important;
    color: #c9d1d9 !important;
    border-radius: 10px !important;
}

html.dark .table-container thead {
    background-color: #161b22 !important;
}

html.dark .table-container thead th {
    color: #c9d1d9 !important;
    border-color: #30363d !important;
    border: 0px solid !important;
}

html.dark .table-container tbody td {
    color: #c9d1d9 !important;
    border-color: #737679 !important;
    border: 0px solid !important;
    border-bottom: 1px solid #5e5f5f !important;
}

html.dark .table-container tbody td p {
    color: #c9d1d9 !important;
    border-color: #737679 !important;
    border: 0px solid !important;
}

html.dark .table-container tbody tr {
    background-color: #0d1117 !important;
    color: #c9d1d9 !important;
}

html.dark .table-container table.table-hover tbody tr:hover {
    background-color: #161b22 !important;
}

html.dark input {
    background-color: #1b1b1b;
    color: #c9d1d9 !important;
}

html.dark select.form-control {
    background-color: #1b1b1b;
    color: #c9d1d9 !important;
}

html.dark input:focus {
    background-color: #1D2A35;
    color: #c9d1d9;
}

html.dark input::placeholder {
    color: #c9d1d9 !important;
}

html.dark textarea::placeholder {
    color: #c9d1d9 !important;
}

html.dark #startWork {
    background-color: #30363d;
}

html.dark #enrollButton {
    background-color: #30363d;
}

html.dark .modal-body {
    background-color: #30363d;
}

html.dark .modal-title {
    color: whitesmoke !important;
}


html.dark .modal-footer {
    background-color: #30363d;
}

html.dark .form-control:disabled {
    color: black !important;
}

html.dark .tableData {
    color: #c9d1d9 !important;
}

html.dark .candidateField {
    border: 1px solid gray;
}

html.dark input:disabled {
    background-color: rgb(161, 159, 159);
}

html.dark #viewLead {
    background-color: #30363d;
}

html.dark .icon-stack {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.icon-stack svg:first-child {
    color: #c5b418ff;
}

.icon-stack svg:last-child {
    color: #c5b418ff;
    position: absolute;
    right: -10px;
    bottom: 17px;
}

html.dark .BGColor {
    background-color: #30363d;
}

html.dark .nav-link:hover {
    color: #bedf07 !important;
}

html.dark #cancelButton {
    background-color: #30363d;
    border: 1px solid rgb(175, 26, 26);
}

html.dark .assignLeadsTableBackground {
    background-color: #000000;
}

html.dark .technologyFont {
    color: #c9d1d9 !important;
}

html.dark .darkFormLabel {
    color: #d9d2c9 !important;
}

html.dark .darkForm {
    background-color: #1b1b1b !important;
    color: #c9d1d9 !important;
    border: 1px solid #30363d !important;
}

html.dark .card-plain {
    background-color: #30363d !important;
}

.LogcallOutcome {
    border: 0px !important;
}

.card-plain {
    border: 0px !important;
}

.darkmode-pointer {
    position: fixed;
    top: 55px;
    /* adjust */
    right: 65px;
    /* adjust: should point EXACTLY to toggle button */
    z-index: 9999;
    /* above blur + backdrop */
    pointer-events: none;
    /* so arrow does not block clicks */
    text-align: center;
}

.pointer-arrow {
    font-size: 35px;
    animation: bounce 1s infinite;
}

.pointer-text {
    margin-top: -10px;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    text-shadow: 0 0 3px white;
}

html.dark .announcement-active body>*:not(.modal):not(.dark-mode-toggle-container) {
    filter: blur(4px) brightness(0.6);
    pointer-events: none;
}

html.dark .previousDark,
html.dark .numberDark,
html.dark .nextDark {
    border: 1px solid whitesmoke;
    color: whitesmoke;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}


.announcementDarkModal {
    background-color: rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(0px) !important;
    -webkit-backdrop-filter: blur(8px) !important;
}

/* .global-modal {
    background-color: rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(3px) !important;
    -webkit-backdrop-filter: blur(8px) !important;
} */

/* html.dark .global-modal {
    background-color: rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(2px) !important;
    -webkit-backdrop-filter: blur(8px) !important;
} */

html.dark #movedToMarketing {
    background-color: #30363d !important;
    border: 1px solid green;
}

html.dark #assign {
    background-color: #30363d;
}

html.dark #done {
    background-color: #30363d !important;
}

html.dark #start {
    background-color: #30363d !important;
}

html.dark #moveToMarketing {
    background-color: #30363d !important;
    color: rgb(156, 156, 156);
    border: 1px solid #94a11d;
    font-weight: normal !important;
}

html.dark .tableHeader {
    background-color: transparent !important;
}

html.dark .adminDashboardTitle {
    /* color: #FFF4A3; */
    /* color: #a9dfd8 !important; */
    color: #ffffff;
}

html.dark select {
    background-color: #1D2A35;
    color: #c9d1d9 !important;
}

html.dark .input-group-text {
    background-color: #1D2A35 !important;
    color: #c9d1d9;
}


html.dark .table-container table.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #0f141a !important;
}

html.dark .modal .announcementDarkModal {
    background-color: rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(8px) !important;
}

html.dark .table-container td,
html.dark .table-container th {
    border-color: #000000 !important;
    background-color: #30363d !important;
    border: 1px solid;
}

html.dark .table td,
html.dark .table th {
    border-color: #000000 !important;
    background-color: #1b1b1b !important;
    border: 1px solid rgb(87, 87, 87) !important;
    color: #c9d1d9 !important;
}

html.dark .cardDark {
    background-color: #30363d !important;
}

html.dark textarea {
    background-color: #1D2A35 !important;
    color: #c9d1d9 !important;
}

html.dark .LogcallOutcome,
html.dark .LogCallOutcome h5 {
    background-color: #30363d !important;
    color: white !important;
    border: 0px solid;
}

html.dark .modal-header {
    background-color: #30363d !important;
    box-shadow: 2px 2px 10px grey;
}

html.dark .btn-close {
    filter: invert(1) brightness(200%);
}

html.dark .closeDark {
    background-color: #30363d;
    border: 1px solid red;
}

html.dark .editUserTitle {
    background: none !important;
    -webkit-text-fill-color: #ffffff !important;
    color: #ffffff !important;
}

html.dark .cancelDark {
    background-color: #30363d !important;
    color: white !important;
    border: 1px solid rgb(206, 29, 29);
}

html.dark .saveOutcomeDark {
    background-color: #30363d !important;
    color: rgb(255, 255, 255) !important;
    border: 1px solid rgb(29, 56, 206);
}

html.dark .theme-label {
    color: whitesmoke;
}

html.dark .container-fluid {
    background-color: #171821;
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    50% {
        opacity: 0.1;
        transform: scale(0.60);
    }

    100% {
        opacity: 0.9;
        transform: scale(1);
    }
}

@media (max-width: 1300px) {
    div.secondDiv {
        display: none !important;
    }
}

@media (max-width: 1366px) {

    .textHeading .display-3 {
        font-size: 55px !important;
    }

    .textHeading .fs-5 {
        font-size: 16px !important;
    }

    .LogoImage {
        width: 90px !important;
        margin-top: -20px;
    }
}

.secondBox {
    background-color: #42602E;
}

.NavbarLogo {
    width: 9%;
}

.forgot {
    font-size: 13px;
}

.remember {
    font-size: 13px;
}

.tags {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    color: #42602E;
    border: 1px solid #42602E;
    font-size: 12px;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* 
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.theme-switch input:checked+.slider {
    background-color: #ffbb00;
}

.theme-switch input:checked+.slider:before {
    transform: translateX(24px);
} */

/* .toggle-with-text {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
}

.toggle-with-text input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-track {
    background-color: #ccc;
    border-radius: 30px;
    position: absolute;
    inset: 0;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-with-text input:checked+.toggle-track {
    background-color: #4a90e2;
}

.toggle-text {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
} */

.theme-toggle-btn {
    border: 1px solid #ccc;
    padding: 6px 14px;
    border-radius: 25px;
    background: #fff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: background 0.3s;
}

html.dark .theme-toggle-btn {
    background: #1e1e1e;
    border-color: #444;
    color: white;
}

html.dark .LogCallOutcome {
    background-color: #1e2732 !important;
    color: #e6edf3 !important;
    border-color: #2d3b45 !important;
}

/* html.dark .loginPage {
    background-color: whitesmoke;
    color: black;
}

html.dark .loginPageForm {
    background-color: transparent;
    color: black !important;
}

html.dark input {
    background-color: #1D2A35;
    color: #c9d1d9 !important;
}

html.dark input:focus {
    background-color: #ffffff;
    color: #c9d1d9;
}

html.dark input::placeholder {
    color: transparent !important;
}

html.dark .login-page .loginCheckbox {
    background-color: white !important;
    filter: invert(1) brightness(1.5);
} */

.toggle-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.switch {
    width: 42px;
    height: 20px;
    background: #ccc;
    border-radius: 20px;
    position: relative;
    transition: 0.3s;
}

.switch.dark {
    background: #4a90e2;
}

.circle {
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

.switch.dark .circle {
    left: 24px;
}