* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif !important;
}

body {
    height: 100%;
    background: #0000ff;
}

.LogoImage {
    width: 150px;
}

.logo-top {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.lead-img-animate {
    animation: fadeSlideIn 1.0s ease-out forwards;
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    50% {
        opacity: 0.1;
        transform: scale(0.60);
    }

    100% {
        opacity: 0.9;
        transform: scale(1);
    }
}

@media (max-width: 1428px) {
    div.secondDiv{
        display: none !important;
    }
}

.secondBox {
    background-color: #42602E;
}

.NavbarLogo {
    width: 9%;
}

.forgot {
    font-size: 13px;
}

.remember {
    font-size: 13px;
}

.tags {
    /* background-color: #42602E; */
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    color: #42602E;
    border: 1px solid #42602E;
    font-size: 12px;
}